{{ $avatar_img := .Site.Params.author.avatar }}
{{ $avatar_img_alt := .Site.Params.author.name }}

{{/* If an alt description of the avatar is provided, use it */}}
{{ if .Site.Params.author.altDescription }}
  {{ $avatar_img_alt = .Site.Params.author.altDescription }}
{{ end }}

{{ $image := resources.Get $avatar_img }}
<div class="author">
    {{ with $image }}
    {{ $image := $image.Fill "100x100 webp" }}
    <img class="author-avatar" src="{{ $image.RelPermalink }}" alt="{{ $avatar_img_alt }}" width="{{ .Width }}"
        height="{{ .Height }}" />
    {{ end }}
    <h2 class="author-name">{{ .Site.Params.author.intro }}</h2>
    <p class="author-bio">{{ .Site.Params.author.description }}</p>
</div>
